.section-title {
  font-family: "Roboto", sans-serif;
  color: #d0d0d0;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.section-title__number {
  font-size: 1rem;
  color: #17a2b8;
  margin-right: 0.5rem;
}

.section-title__underline {
  display: none;
  width: 18.75rem;
  height: 0.0625rem;
  background-color: #374151;
  margin-left: 1.5rem;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 1.875rem;
  }

  .section-title__number {
    font-size: 1.25rem;
  }

  .section-title__underline {
    display: inline-flex;
    width: 22.5rem;
  }
}
